/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
html {
    height: 100%;
    margin: auto;
    width: auto;
    overflow: scroll;
}

body {
    background-color: #e6b800;
    min-height: 100vh;
    line-height: 1;
}
main{
    display: block;
}

section {
    display: block;
    margin: 80px 120px 80px 120px
}

header {
    border-bottom: 10px inset black;
    display: flex;
    margin: 3px;
    justify-content: start;
}


H1 {
    font-size: 70px;
    font-family: monospace 'Courier New', Courier, monospace;
    color: black;
    width: 500px;
    margin-left: 15px;
}

h2 {
    text-align: center;
    font-size: 30px;
    height: fit-content ;
    border-top: 5px solid black;
    padding: 15px;

}

/* nav bar */
nav {
    display: flex;
    align-self:center;
    width:400px;
    margin-left: auto;
    font-size:40px;
    padding:15px 20px 0px 0px
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    list-style: none;
}

a {
    color: inherit;
    text-decoration:inherit;

}

a:hover {
    border-bottom: 4px solid black;
    font-size: 38px;
}

/* section 1 */
.logo {
    width: 150px;
    height: 150px;
    border: none
}

.logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
}

/* Section 2 text */
.sec2-img {
    height: 400px;
    width: 400px;
    border: 5px solid black;
    margin-top: 100px;
    margin-bottom: 80px;
}

.main-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.section-2-text {
    font-size: 40px;
    height: fit-content;
    width: max;
}

/* Section 3 images */
.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.sec3-img {
   max-width: 100%;
   max-height: 100%;
}

.cards {
    margin-top: 2%;
    max-width: 33%;
    max-height: 30%;
    border: 5px solid black;
    border-radius: 5px;
    
}

