/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    background-color: #e6b800;
}

header {
    border-bottom: 10px solid black;
    display: flex;
    margin: 3px;
    justify-content: start;
}


H1 {
    font-size: 70px;
    font-family: monospace 'Courier New', Courier, monospace;
    color: black;
    width: 500px;
    margin-left: 15px;
}

nav {
    display: flex;
    align-self:center;
    width:400px;
    margin-left: auto;
    font-size:40px;
    padding:15px 20px 0px 0px
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    list-style: none;
}

/* link styles */
a {
    color: inherit;
    text-decoration:inherit;

}

a:hover {
    border-bottom: 4px solid black;
}


/* Main image styles */
img {
height: 400px;
width: 400px;
border: 5px solid black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

Footer {

    Border-top: 10px solid black;
    margin: 5px;
}

.main-layout {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}